@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom thanh scroll */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(222, 210, 209);
  border-radius: 10px;
}
body,
html {
  font-size: 16px;
}

input,
textarea {
  outline: none;
  border: 1px solid #9d9d9d;
  border-radius: 4px;
  padding: 0 4px;
}
input[type='text'] {
  height: 32px;
}
select {
  outline: none;
}
